<h1>ログイン</h1>
<p>ユーザーIDとパスワードを入力してください</p>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :user %>
  <%= f.text_field :user %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "login" %><br>

  <br><%= link_to (t 'defaults.back'), blogs_path %>
<% end %>